@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');

:root{
    --black: #000;
    --white: #fff;
    --transparent-yellow: #ffff026b;
    --primary-color:#2f4f4f;
    --crimson:#dc143c;
    --crimson-tranparent:#dc143c52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    background-color: var(--white);
    border: 0.5px solid var(--black);
}

.logo{
    margin-left: 10px;
}


.list-menu{
    display: flex;
    font-weight: 900;
    font-size: 20px;
}

.list-menu li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

.list-menu a {
    text-decoration: none;
    color: var(--black);
    position: relative;
    padding: 0.5rem;
}

.menu ul li a::before{
    content: '';
    background-color: var(--crimson-tranparent);
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: transform 300ms ease;
    transform-origin: right;
    transform: scaleX(0);
}

.menu ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.btn-mobile{
    display: none;
}

.main-bg{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 80px 60px 20px 60px;
    background-image: url(../img/bg2.svg);
    background-size: cover;
}

.white-bg{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 80px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 50px;
    width: 40%;
    background-color: var(--crimson);
    margin-bottom: 20px;
    height: 60px;
}

.driver-calc-content{
    display: flex;
    padding: 0 30px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.btn-como-usar{
    height: 40px;
    width: 180px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    background-color: var(--white);
    border: none;
    margin: 15px auto;
}

.btn-como-usar:hover{
    background-color: var(--crimson);
    color: var(--white);
}


.calc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    width: 45%;
    height: 100%;
    background-color:var(--black);
}

.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    width: 45%;
    height: 100%;
    background-color:var(--black);

}

.disabled{
    cursor: not-allowed;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

label{
    color: var(--white);
    font-size: 20px;
}

input{
    width: 100%;
    height: 40px;
}

.time{
    width: 165.818px;
}

.btn{
    width: 30%;
    margin-top: 20px;
    
}

.btn-calcular{
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    background-color: var(--white);
    border: none;
}

.btn-calcular:hover{
    background-color: var(--crimson);
    color: var(--white);
}








.footer{
    text-align: center;
    font-size: 1.6rem;
    height: 100%;
}

.footer a{
    color: var(--black);
    text-decoration: none;
}

.footer p{
    margin: 0;
    padding: 2rem;
}

.heart{
    color: var(--crimson);
}

@media (max-width: 1030px){
    .btn-mobile{
        display: block;
        background-color: var(--black);
        color: var(--white);
        border-radius: 30%;
        border: none;
        width: 50px;
        height: 30px;
        font-weight: 700;
    }

    .btn-mobile:active{
        background-color: var(--crimson);
        color: var(--black);
    }

    .list-menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: #e7e7e7;
        height: 0px;
        z-index: 2;
    }

    nav.active .list-menu{
        display: block;
        height: calc(100vh - 50px);
    }

    .list-menu li{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .main-bg{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 200vh;
        padding: 80px 60px 20px 60px;
        background-image: url(../img/bg2.svg);
        background-size: cover;
    }

    .driver-calc-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        justify-content: space-evenly;
        
    }

    .calc{
        justify-content: center;
        margin-bottom: 50px;
        width: 80%;
    }
    
    .result{
        justify-content: center;
        padding: 10px 0;
        width: 80%;
    
    }
}

@media (max-width: 780px){
    .title{
        font-size: 2em;
        height: 70px;
    }

    .driver-calc-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        justify-content: space-evenly;
        
    }

    .calc{
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .result{
        justify-content: center;
        padding: 10px 0;
        width: 100%;
    
    }

    .btn{
        width: 50%;  
    }
}

@media (max-width: 450px){
    .title{
        font-size: 2em;
        height: 70px;
        width: 90px;
    }

    .driver-calc-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        justify-content: space-evenly;
        
    }

    .calc{
        justify-content: center;
        margin-bottom: 50px;
        width: 95vw;
    }
    
    .result{
        justify-content: center;
        padding: 10px 0;
        width: 95vw;
    
    }

    .btn{
        width: 50%;  
    }
}